.address.content
    h1.title 关于我们
    p 大贵客是一家社区鲜果速递网站，意在为您提供更便捷、更实惠的购物体验，如果您有什么建议，或者希望购买其他产品，请直接回复公众账号，我们非常期待与您的交流！
    br
    p 杭州大贵客信息技术有限公司
    p 网址：daguike.com
    p 客服电话：13656633843
common-navbar(navbar="wx_navbar")