.navbar(ng-if='navbar.id==1')
    .btn-group.justified
        a.btn.btn-default(ng-href='/')
            i.icon.iconfont.icon-home
            //- div 大贵客
        a.btn.btn-default(ng-href='/wx/cart')
            i.icon.iconfont.icon-cart
            //- div 购物车
        a.btn.btn-default(ng-href='/wx/me')
            i.icon.iconfont.icon-my
            //- div 我

.navbar(ng-if='navbar.id==2')
    .btn-group.justified
        .btn(ng-hide="btn.hide()" ng-disabled="btn.disabled()" ng-repeat="btn in navbar.btn" ng-click="btn.click()" ng-class="btn.class") {{btn.text}}

